.container {
  display: grid;
  grid-template-columns: max-content max-content; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
  gap: 4px 0px; 
  grid-template-areas: 
    ". ."
    ". ."
		". ."
		". ."
		". ."
		". ."
    "buttons buttons";
}

.container > .check {
	cursor: pointer;
}

.container > .advance {
	text-align: right;
}

.container > .advance > input {
	width: calc(2ch + 2em);
}

.buttons {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 4px; 
  grid-template-areas: 
    ". . ."; 
  grid-area: buttons; 
}